body {
  background-color: #f5f5f5;
}

.todo-title {
  color: #ead7d7;
  font-size: 80px;
  font-weight: 100;
  margin-bottom: 10px;
}

.custom-paper {
  border-radius: 0 !important;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1) !important;
  z-index: 3;
}

.custom-input {
  font-size: 24px;
  font-style: italic;
  color: #4d4d4d;
  box-shadow: inset 0 -2px 1px rgba(0,0,0,0.03);
}

.custom-input::placeholder {
  color: #e6e6e6;
  font-style: italic;
}

.custom-input:focus {
  box-shadow: none;
  outline: none;
}

.todo-item {
  font-size: 24px;
  color: #4d4d4d;
  transition: background-color 0.2s;
}

.delete-icon {
  color: #cc9a9a;
  cursor: pointer;
  font-size: 22px;
  display: none; /* Lo oculta por defecto */
  transition: color 0.2s ease-out;
}

.delete-icon:hover {
  color: #af5b5e;
}

.todo-item:hover .delete-icon {
  display: block;
}

.footer-text {
  font-size: 14px;
  color: #777;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.paper-edge-1 {
  height: 5px;
  background-color: #fff;
  width: 98%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  z-index: 2;
  position: relative;
}

.paper-edge-2 {
  height: 5px;
  background-color: #fff;
  width: 96%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  z-index: 1;
  position: relative;
}